<div class="container.py-2" id="#footer" style="height: 50px;">
<a href="https://app.sumed.local.com:8080/control/nuevo">
    <button class="btn btn-success" id="boton-barcode-l" style="position: fixed; bottom: 0%; margin-bottom: 0%; display: block;">
        Nuevo Control
    </button>
</a>
<!-- Scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../javascripts/sweetalert2.min.js"></script>
<script src="../javascripts/jquery.js"></script>
<script type="application/javascript" src="../javascripts/main.js"></script>
</div>