<section id="control" style="display: block;">
    <div class="container py-2">
        <div>
            <img class="banner" src="../images/banner.png">
        </div>

        <%- include('../partials/elements/grillaRepartos') %>

            <%- include('../partials/elements/formularioControl') %>
    </div>
</section>