<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <span><a href="https://app.sumed.local.com:8080/"><img src="https://www.drogueriasumed.com/assets/images/sumed-logo.png"></a></span><span>
            </span>
        </ul>
    </div>
</nav>