<section class="listado" id="listado" style="display: block;">
    <div class="container py-2">
        <div>
            <img class="banner" src="../images/banner.png">
        </div>
        <div>
            <a href="https://app.sumed.local.com:8080/control/listado/">
                <p><i class="small material-icons">print</i>Imprimir listado</p>
            </a>
        </div>
        <%- include('../partials/elements/tablaListado') %>
    </div>
</section>