<section class="listado" id="listado" style="display: block;">
    <div class="container py-2">
        <div>
            <img class="banner" src="../images/banner.png">
        </div>
        <%- include('../partials/elements/tablaListado') %>
    </div>
</section>