<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <%- include('../partials/form') %>
    </main>
    
    <footer>
        <%- include('../partials/footer-c') %>
    </footer>
</body>

</html>