<form action="/control" method="POST" style="background-color:rgb(202, 202, 202); border-radius: 5px; margin-top: 10%;">
    <label style="width: 100%; color: black">Codigo de barras<input class="form-control my-2" id="barcode" type="text"
            name="barcode"></label>
</form>